<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jedikv.simpleconverter" >

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/ConverterTheme" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.CurrencyPickerActivity"
            android:parentActivityName=".ui.activities.MainActivity">
                <!--<action android:name="android.intent.action.SEARCH"/>-->
                <!--<action android:name="android.intent.action.view"/>-->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/currency_search"/>
        </activity>

        <service
            android:name=".intentsevice.CurrencyUpdateIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
